@model WebApplication4.Models.ProjectEfforts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectEfforts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.effortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.effortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.effortRankValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.effortRankValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.effortID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
