@model WebApplication4.Models.StudentCourses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentCourses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.courseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.uniUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.uniUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.studentCourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
