@model WebApplication4.Models.ProjectPeopleAllocations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectPeopleAllocations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Projects.projectTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.projectTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.creatorID)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.creatorID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.creatorComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creatorComment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
